body {
    padding-top: 70px;
}

a {
    color: #00b7ff;
}

.captcha {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.captcha-code {
    background: #3d5afe;
    color: #fff;
}
